
@import "./variables.sass"

html #root .child .main
    .tools-i-use, .engineering-projects
      padding-top: 10px

    h2
      margin: 5px 0 5px 0
      font-weight: 600
      font-size: 20px

    .introduction
      height: fit-content

      h3
        font-family: 'Inter'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 19px

      .my-face
        float: right
        width: 300px
        height: 200px
        border-radius: 20px
        // position: absolute

    .main-title
      font-family: 'Inter'
      font-style: normal
      font-weight: 400
      font-size: 26px

    .cat-title
      font-family: 'Inter'
      font-style: normal
      font-weight: 400
      font-size: 20px
      line-height: 24px

    .tools-i-use
      padding-top: 15px
        
      .engineeringProjects ul li .to
        text-decoration-line: underline
        color: #0093C2
      
      nav ul
        line-style-type: disc

        li
          margin: 10px 0px 10px 50px

          a
            color: $bg-color

@media screen and (max-width: $max-width)
  body #root header .main
    //pass
